---
import Base from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import IndexPage from '@/components/react/index';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<!DOCTYPE html>
<html lang="en">
	<head><Base title={SITE_TITLE + " - Process list"} description={SITE_DESCRIPTION} /></head>
	<body><Navbar active={true} /><main class="p-8"><IndexPage base={"{{base_path | safe}}"} client:only /></main></body>
</html>
