---
import Layout from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import ServersPage from '@/components/react/servers';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<Layout title={SITE_TITLE + " - Servers"} description={SITE_DESCRIPTION}>
	<Navbar active={"servers"} />
	<main class="pt-10">
		<ServersPage base={"{{base_path | safe}}"} client:only="@astrojs/react" />
	</main>
</Layout>
