---
import Layout from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import StatusPage from '@/components/react/status';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<Layout title={SITE_TITLE + " - Viewing server {{server_name | safe}}"} description={SITE_DESCRIPTION}>
	<Navbar />
	<main class="pt-10">
		<StatusPage name={"{{server_name | safe}}"} base={"{{base_path | safe}}"} client:only="@astrojs/react" />
	</main>
</Layout>
