---
import Layout from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import ViewPage from '@/components/react/view';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<Layout title={SITE_TITLE + " - View process"} description={SITE_DESCRIPTION}>
   <Navbar active={false} />
   <main>
      <ViewPage id={"{{process_id | safe}}"} base={"{{base_path | safe}}"} client:only />
   </main>
</Layout>
